config bluealsa 'main'
    option enabled '1'
    # 接收模式开关 (手机 -> 路由器 -> 音箱)
    option sink_enabled '1'
    # 发射模式开关 (路由器 -> 蓝牙耳机)
    option source_enabled '1'
    option device_name 'OpenWrt-BT'

config bluetooth 'settings'
    # 发射模式下，路由器主动去连接的耳机 MAC
    option mac '41:42:5E:33:5C:32'
    option enabled '1'
