config bluealsa 'main'
    option enabled '1'
    option sink_enabled '0'      # 接收模式开关 (手机->路由器)
    option source_enabled '1'    # 发射模式开关 (路由器->耳机)
    option device_name 'OpenWrt-BT'
    option aac_afterburner '1'

config bluetooth 'settings'
    option enabled '1'           # 对应发射模式下的自动重连监控
    option mac ''                # 你的蓝牙耳机地址
